<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/account.css" type="text/css"/>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/account.js"></script>
  </head>
  <body>
    <header>
      <ul>
        <li>
          <a href="/map">LIVE MAP</a>
        </li>
      </ul>
      
      <h1>account settings</h1>
    </header>

    <div class="pane">
      <h2>change password</h2>
      <form action="/password" method="post">
        <input type="password" name="oldpass" placeholder="current password">
        <input type="password" name="newpass" placeholder="new password">
      
        <button type="submit">update</button>
      </form>
    </div>

    <div class="pane organization">
      <h2>organization users</h2>
      
      <ul>
      </ul>

      <h3>create organization user</h3>
      <form action="/user/create" method="post">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
      
        <button type="submit">create user</button>
      </form>
    </div>
  </body>
</html>
