<!DOCTYPE html>

<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1'/>
	  <link rel="stylesheet" href="/stylesheets/svg.css" type="text/css"/>
	  <link rel="stylesheet" href="/stylesheets/map.css" type="text/css"/>
    
	  <script type="text/javascript" src="/javascripts/jquery.js"></script>
	  <script type="text/javascript" src="/javascripts/sylvester.js"></script>
	  <script type="text/javascript" src="/javascripts/base64.js"></script>
	  <script type="text/javascript" src="/javascripts/application.js"></script>
  </head>
  <body>
    <header>
      <div>
        <ul>
          <li>
            <a href="/account">ACCOUNT</a>
            <a href="/sessions/logout">LOGOUT</a>
          </li>
        </ul>
      </div>
      <div id="switch">
        <p>▼</p>
      </div>
    </header>

    <p id="timestamp">
    </p>

    <div id="panels">
      <div id="network-list">
        <p>NETWORKS</p>
        <ul>
        </ul>
        <form id="addnetwork" action="/network/create" method="post">
          <fieldset>
            <legend>add network</legend>
            <input type="text" placeholder="address" name="address">
            <input type="text" placeholder="description" name="description">
            <button type="submit">add network</button>
          </fieldset>
        </form>
      </div>

      <div id="filter-list">
        <p>FILTERS</p>
        <ul>
          <li>tcp port 22 (ssh)</li>
          <li>tcp port 443 (https)</li>
          <li>tcp port 80 (http)</li>
        </ul>
      </div>
    </div>
    
    <div id="map-container">
      <svg id="map-svg" width="25000" version="1.1" height="25000"  x="0.0" y="0.0">
        <g id="map" transform="translate(0 0)">
		      <circle id="catcher" class="background" pointer-events="all" cx="0" cy="0" r="500"/>
          <g id="networks"/>
          <g id="volumes"/>
          <g id="flows"/>
          <g id="nodes"/>
          <circle cx="0" cy="0" r="3" class="untracked" address="untracked" network="untracked"/>
        </g>
        <g id="labels"/>
        <g id="annotations"/>
      </svg>
    </div>
  </body>
</html>
