<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/login.css" type="text/css"/>
  </head>
  <body>
    <div>
      <div class="header">
        <h1>flower network flow analysis</h1>
      </div>
      <form action="/sessions/login" method="post">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        
        <div class="buttons">
          <button type="submit">authenticate</button>
        </div>
      </form>
    </div>
  </body>
</html>
