@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600|Raleway:300i,400);

* {
    box-sizing: border-box;
}

header, div, form, ul, li, h1, h2, input {
    display: inline-block;
}

html {
    font-family: 'Open Sans', sans-serif;
    background: #f3f3f3;
}

h1 {
    font-size: 28px;
    font-variant: small-caps;
}

h2 {
    font-size: 24px;
    font-variant: small-caps;
}

h3 {
    font-size: 20px;
    font-variant: small-caps;
}
 
header {
    text-align: left;
    margin: auto;
    margin-top: 5px;
    padding: 0;
    width: 100%;
    overflow: auto;

    h1 {
        margin-left: 0.5em;
    }
        
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        background: #555;
        width: 100%;
        
        li {
            padding: 5px;
            margin: 5px;
                
            a {
                color: #ffffff;
                text-decoration: none;
            }
        }
        
        li:hover {
            background: #fcfcfc;
            
            a {
                color: #555;
            }
        }
    }
}

div.pane {
    padding: 0.5em 1em;
    min-width: 20em;
    max-width: 25em;
    vertical-align: top;

    h2, h3 {
        margin-bottom: 10px;
        text-align: left;
        width: 100%;
    }

    button {
        background: #7EBC93;
        border: 0;
        padding: 15px;
        width: 100%;
        font-size: large;
        text-align: left;
        color: #ffffff;
        font-variant: small-caps;

        a {
            text-decoration: none;
            color: #ffffff;
        }
    }

    button:hover {
        background: #2A7E46;
        cursor: pointer;
    }
    
    ul {
        list-style: none;
        width: 100%;
        padding: 0;
        margin: 0;

        li {
            width: 100%;
            padding: 5px 15px;
            margin: 2px 0;
            background: #ffffff;
            display: flex;
            justify-content: space-between;

            button {
                max-width: 1.5em;
                padding: 2px;
                margin: 0;
                text-align: center;
                background: #D98070;
                font-size: small;
            }

            button:hover {
                background: #AC4C3A;
            }
        }
    }

    input[type=text], input[type=password] {
        margin-top: 5px;
        width: 100%;
        padding: 15px;
        font-size: large;
        background: #ffffff;
        border: 0;
    }
}
