@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600|Raleway:300i,400);
* {
  box-sizing: border-box; }

header, div, form, ul, li, h1, h2, input {
  display: inline-block; }

html {
  font-family: 'Open Sans', sans-serif;
  background: #f3f3f3; }

h1 {
  font-size: 28px;
  font-variant: small-caps; }

h2 {
  font-size: 24px;
  font-variant: small-caps; }

h3 {
  font-size: 20px;
  font-variant: small-caps; }

header {
  text-align: left;
  margin: auto;
  margin-top: 5px;
  padding: 0;
  width: 100%;
  overflow: auto; }
  header h1 {
    margin-left: 0.5em; }
  header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #555;
    width: 100%; }
    header ul li {
      padding: 5px;
      margin: 5px; }
      header ul li a {
        color: #ffffff;
        text-decoration: none; }
    header ul li:hover {
      background: #fcfcfc; }
      header ul li:hover a {
        color: #555; }

div.pane {
  padding: 0.5em 1em;
  min-width: 20em;
  max-width: 25em;
  vertical-align: top; }
  div.pane h2, div.pane h3 {
    margin-bottom: 10px;
    text-align: left;
    width: 100%; }
  div.pane button {
    background: #7EBC93;
    border: 0;
    padding: 15px;
    width: 100%;
    font-size: large;
    text-align: left;
    color: #ffffff;
    font-variant: small-caps; }
    div.pane button a {
      text-decoration: none;
      color: #ffffff; }
  div.pane button:hover {
    background: #2A7E46;
    cursor: pointer; }
  div.pane ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0; }
    div.pane ul li {
      width: 100%;
      padding: 5px 15px;
      margin: 2px 0;
      background: #ffffff;
      display: flex;
      justify-content: space-between; }
      div.pane ul li button {
        max-width: 1.5em;
        padding: 2px;
        margin: 0;
        text-align: center;
        background: #D98070;
        font-size: small; }
      div.pane ul li button:hover {
        background: #AC4C3A; }
  div.pane input[type=text], div.pane input[type=password] {
    margin-top: 5px;
    width: 100%;
    padding: 15px;
    font-size: large;
    background: #ffffff;
    border: 0; }
