/* 
Document   : console
Created on : Jul 9, 2009, 3:56:01 PM
Author     : JustinThomas
Description:
Purpose of the stylesheet follows.
*/

@font-face {
    font-family: 'Andale';
    src: url('../fonts/andale/AndaleMono.ttf') format('truetype');
    src: url('../fonts/andale/AndaleMono.svg#AndaleMono') format('svg');
}

@font-face {
    font-family: 'LinLibertine';
    src: url('../fonts/linlibertine/LinLibertineC_Re-4.0_.1_.ttf') format('truetype');
}

@font-face {
    font-family: 'Dots';
    src: url('../fonts/bpdots/BPdotsUnicase.ttf') format('truetype');
    src: url('../fonts/bpdots/BPdotsUnicase.svg#BPdotsUnicase') format('svg');
}

@font-face {
    font-family: 'Carto';
    src: url('../fonts/CartoGothicStd-Book.otf');
}

root { 
    display: block;
}

* {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    font-size:small;
}

/* .push must be the same height as .footer */
.push {
    height: 5px
}

.divider_background {
    position:relative;
    float:left;
    width:100%;
    height: 30px;
    border-top: 1px solid #9e9e9e;
    border-bottom: 1px solid #9e9e9e;
    text-align: center;
    overflow: visible;
    background-color: #fafafa
}

html,body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%
}

#map-container {
    position:relative;
    float:left;
    margin:0;
    padding:0;
    background:#fff;
    overflow: hidden;
}

#volume-container {
    position:relative;
    float:left;
    margin-top:5px;
    margin-left:5px;
    margin-bottom:5px;
    outline: 1px solid #333;
    background: #ececec;
}

#volume-container > svg {
    position:relative;
    float:left;
    margin:0;
    padding:0;
}

#detailed-flows {
    position:absolute;
    top:100px;
    width:100%;
    height:0;
    outline:1px solid #333;
    background:#ececec;
    display:none;
    margin-left:0;
    overflow-y:auto;
}

#detailed-flows > div {
    position:absolute;
    top:0;
    left:0;
    width:100%
}

#main {
    position:relative;
    float:left;
    height:500px;
    background:#333;
    padding:0;
}

#content {
    position:relative;
    float:left;
    background: #333;
    overflow:hidden;
    margin:0;
    padding:0;
}

#content, #map svg {
    position:relative;
    float:left;
}

#page {
    margin:0 auto -6px;
    width:100%;
    min-width:800px;
    min-height:400px;
    background:#fff;
    overflow:hidden;
    border:none
}

#heading {
    position:relative;
    float:left;
    background:#43040f;
    width:100%;
    height:5px;
}

#inspector {
    position:absolute;
    background:none;
    pointer-events: none;
}

#inspector > div {
    position:relative;
    float:left;
    width:90%;
    margin-top:10px;
    margin-left:5%;
    display:none;
    opacity:1.0;
    border:0;
    background: none;
    font-family: sans-serif;
}

#inspector > div > p {
    width:100%;
    text-align: left;
    text-indent: 0.5em;
    padding-bottom:1px;
    padding-top:1px;
    background:#229;
    border:1px solid #229;
    color:#fff;
    font-family: inherit;
    font-weight: bold;
}

#inspector > div > ul {
    position:relative;
    float:left;
    list-style: none;
    width:100%;
    margin:0;
    padding:0;
    background:#fff;
    font-family: inherit;
    border:1px solid #229;
}

#inspector > div > ul > li {
    position:relative;
    clear:left;
    float:left;
    width:100%;
    font-family: inherit;
    background-color:#fff;
    border:0;
}

#inspector li.port, #inspector li.protocol {
    clear:none;
    text-align:left;
    width:19%;
}

#inspector li.sent, #inspector li.received {
    clear:none;
    text-align:left;
    width:31%;
}

#inspector > div > ul > li:first-child {
    border:0;
}

#inspector > div > ul > li > p {
    position:relative;
    float:left;
    width:100%;
    background:#eee;
    border:0;
    color:#229;
    font-family: inherit;
    text-align:center;
    font-weight:bold;
}

#inspector li.port p, #inspector li.protocol p, #inspector li.sent p, #inspector li.received p {
    text-align:left;
    text-indent: 0.5em;
}

#inspector > div > ul > li > span {
    display:none;
    font-family: inherit;
    margin-left:0.5em;
}

#pattern {
    position:relative;
    float:left;
    width:99%;
    height:24px;
    padding:2px 0;
    border:1px solid #ececec;
    margin-bottom:10px;
}

#constraints_div {
    position:relative;
    float:left;
    width:100%;
    border:1px solid #ccc;
    margin-top: 6px;
    overflow:hidden;
    background:none;
}

#pattern_text {
    position:relative;
    float:left;
    width:100%;
    padding:3px 0.5em;
    background:#fdfdfd;
    border:1px solid #fff;
    color:#999999;
}

#pattern_text:focus {
    color:#000;
    background:#fff
}

#divider {
    position:relative;
    float:left;
    width: 100%;
    margin:0;
    background:#333;
    padding-bottom:5px;
}

#controls {
    position:relative;
    float:left;
    width:100%;
}

#controls > ul {
    position:relative;
    list-style: none;
    width:40%;
    padding:0;
    margin:0;  
    font-family: sans-serif;
    font-size:13px
}

#controls > ul:first-child {
    float:left;
    margin-left:10px;
}

#controls > ul:last-child {
    float:right;
    margin-right:10px;
}

a:link, a:visited {
    text-decoration:none;
}

a:hover {
    text-decoration:underline
}

#controls > ul > li {
    position:relative;
    margin:0;
    width: 85px;
    height:20px;
}

#controls > ul:first-child > li {
    float:left;
}

#controls > ul:last-child > li {
    float:right;
}

#controls > ul > li > div {
    z-index:2;
    position:relative;
    text-align:center;
    float: left;
    width:100%;
}

#controls > ul > li > div {
    height:100%;
}

#controls > ul > li > div > span {
    display:block;
    margin-top:2px;
    color:#ddd
}

#controls > ul > li:hover > div {
    cursor: pointer;
    background:#555;
    color:#fff;
    text-decoration: underline
}

#controls > ul > li > ul {
    list-style:none;
    z-index:5;
    opacity:1.0;
    position:absolute;
    background:#fff;
    border:1px solid #aaa;
    width:83px;
    margin-top:8px;
    visibility: hidden;
    overflow:hidden
}

#controls > ul > li > ul {
    margin-top:20px;
}


#controls > ul > li:hover > ul {
    visibility: visible;
}

#controls > ul > li > ul > li {
    padding: 3px 5px;
    white-space:nowrap;
    text-align:left;
}

#controls > ul > li > ul > li {
    width: 75px;
}

#controls > ul > li > ul > li:hover {
    background:#eee;
    cursor: pointer
}
.load {
    position:relative;
    float:left;
    padding:5px 10px;
    font-family:Carto;
    font-size:18px;
    color:darkgray
}

#alertconsole > div.window_content, #wafconsole > div.window_content {
    position:relative;
    float:left;
    margin:0;
    padding:0;
    overflow:hidden;
}

#alertconsole > div.window_content > div:first-child, #wafconsole > div.window_content > div:first-child {
    height:100px;
    border-bottom:1px solid #9e9e9e;
    background:#fff;
    overflow: auto;
}

#alertconsole > div.window_content > div:last-child, #wafconsole > div.window_content > div:last-child {
    height:199px;
    background:#ececec;
}

#alertconsole table, #wafconsole table {
    position:relative;
    float:left;
    margin:0;
    padding:0;
    width:100%
}

#alertconsole td, #wafconsole td {
    text-indent: 0.5em
}

#alertconsole tr, #wafconsole tr {
    background:#fff;
    color:#000;
    cursor:pointer
}

#alertconsole tr.selected, #wafconsole tr.selected {
    background:#333;
    color:#fff;
}

#alertconsole tr td, #wafconsole tr td {
    border:1px solid #fff;
}

#alertconsole tr:hover, #wafconsole tr:hover {
    background:#ddddee;
    color:#000;
}

#alertconsole tr:hover td, #wafconsole tr:hover td {
    border:1px solid #558
}

#alertconsole fieldset div {
    float:left;
    margin-top:5px;
    width:50%;
}

#alertconsole fieldset {
    position:relative;
    float:left;
    margin:0;
    padding:0;
    width:35%;
}

#alertconsole > div > div > div {
    float:left;
    width:65%;
}

#alertconsole span {
    display:block;
    width:95%;
    text-align: right;
}

#alertpacket > div {
    position:relative;
    float:left;
    width:97%;
    margin-left:10px;
    margin-top:5px;
    border:1px solid #9e9e9e;
    background: #fff;
    padding:0;
    overflow:auto;
    word-wrap: break-word;
    height:188px;
}

#alertpacket > div > p {
    position:relative;
    float:left;
    margin-left:0.5em;
}

#alertpacket > div > p > pre {
    font-family: monospace;
}

#alertconsole input {
    border:1px solid #9e9e9e;
    background: #fefefe;
    width:95%;
}

#msgs {
    position: fixed;
    bottom: 2%;
    left: 1%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100px;
    width: 98%;
}

#msgs table, #msgs tr, #msgs td {
    border: 0;
}

#msgs tr:nth-child(even) {background: #faf3e3}
#msgs tr:nth-child(odd) {background: white}