@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600|Raleway:300i,400);

* {
    position: relative;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    background: #f3f3f3;
}

body > div {
    width: 25em;
    margin: auto;
    margin-top: 50px;
    padding: 0;
    overflow: auto;
}

div.header {
    text-align: left;
    padding-left: 1em;
}

div.header > h1 {
    margin: 0 0;
    padding: 0;
    color: #000;
    font-size: 28px;
    font-variant: small-caps;
}

form {
    padding: 0.5em 1em;
}

input[type=text], input[type=password] {
    float: left;
    margin-top: 5px;
    width: 100%;
    padding: 15px;
    font-size: large;
    background: #ffffff;
    border: 0;
}

div.buttons {
    margin-top: 5px;
    float: left;
    width: 100%;
    text-align: center;
}

button {
    background: #7EBC93;
    border: 0;
    color: #777;
    padding: 15px;
    width: 100%;
    font-size: large;
    text-align: left;
    color: #ffffff;
    font-variant: small-caps;
}

button:hover {
    background: #2A7E46;
    cursor: pointer;
}
    

