@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600|Raleway:300i,400);
* {
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif; }

header {
  position: fixed;
  display: inline-block;
  top: 0px;
  width: 100%;
  margin: 0;
  z-index: 999;
  padding: 10px; }
  header div {
    display: inline-block;
    width: 100%;
    background: #555; }
    header div ul {
      display: inline-block;
      text-align: right;
      width: 100%;
      padding: 0;
      margin: 0;
      white-space: nowrap; }
      header div ul li {
        width: 50%;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0;
        display: inline-block;
        vertical-align: bottom; }
        header div ul li a {
          display: inline-block;
          padding: 5px;
          margin-bottom: 2px;
          margin-right: 5px;
          margin-left: 5px;
          color: #ffffff;
          background: #555;
          text-decoration: none; }
        header div ul li a:hover {
          text-decoration: none;
          background: #ffffff;
          color: #555; }
  header div:first-child {
    display: none; }
  header .collapsible {
    display: none; }
  header #switch {
    width: 100%;
    text-align: center;
    background: none; }
    header #switch p {
      width: auto;
      display: inline-block;
      color: #555;
      text-align: center;
      font-size: x-large;
      background: none;
      margin: 0; }

header:hover #switch {
  display: none; }

header:hover div:first-child {
  display: inline-block; }

@media (min-width: 600px) {
  header .collapsible {
    display: inline-block; } }

.background {
  fill: #fff;
  stroke: none; }

#timestamp {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 999;
  margin: 10px; }

#panels {
  position: fixed;
  bottom: 10px;
  left: 10px; }

#panels, #network-list, #filter-list {
  display: none; }

@media (min-width: 600px) {
  #network-list, #filter-list {
    display: inline-block; }
  #panels {
    display: block; } }

#network-list, #filter-list {
  vertical-align: bottom;
  pointer-events: none;
  z-index: 998;
  border: 1px solid #555;
  background: #f1f1f1;
  max-width: 15em; }
  #network-list p, #filter-list p {
    background: #555;
    color: #fff;
    padding: 4px;
    margin: 0; }
  #network-list ul, #filter-list ul {
    list-style: none;
    margin: 0;
    padding: 10px; }
    #network-list ul li, #filter-list ul li {
      font-size: 14px;
      background: #ffffff;
      padding: 2px;
      margin: 2px;
      border: 1px solid #d1d1d1; }
  #network-list form, #filter-list form {
    pointer-events: all; }
    #network-list form fieldset, #filter-list form fieldset {
      display: inline-block;
      padding-top: 5px;
      padding-bottom: 10px;
      border: 0;
      margin: 0; }
      #network-list form fieldset legend, #filter-list form fieldset legend {
        color: #555;
        font-variant: small-caps; }
      #network-list form fieldset input, #filter-list form fieldset input {
        font-size: 16px;
        padding: 10px;
        margin: 2px 0;
        width: 100%; }
      #network-list form fieldset button, #filter-list form fieldset button {
        padding: 10px;
        border: 0;
        background: #7EBC93;
        color: #ffffff;
        font-size: 16px;
        font-variant: small-caps;
        width: 100%;
        text-align: left; }
      #network-list form fieldset button:hover, #filter-list form fieldset button:hover {
        background: #2A7E46;
        cursor: pointer; }

/* Networks */
#networks .ipv4 {
  fill: none;
  stroke-width: 0; }

#networks .ipv6 {
  fill: #494;
  stroke: #121; }

/* Volumes */
#volumes * {
  fill: #90ADEC;
  stroke-width: 0;
  opacity: 0.4; }

/* Flows */
#flows {
  /* TCP */
  /* UDP */
  /* ICMP */ }
  #flows path {
    fill: none;
    stroke-width: 1;
    stroke: #000; }
  #flows .tcp {
    stroke: #FFFFFF;
    fill: #EDD091;
    opacity: 0.6; }
  #flows .udp {
    stroke: #FFFFFF;
    fill: #050;
    opacity: 0.6; }
  #flows .icmp {
    stroke: #FFFFFF;
    fill: #636256;
    opacity: 0.6; }
  #flows .vrrp {
    stroke: #FFFFFF;
    fill: #500;
    opacity: 0.6; }
  #flows .igmp {
    stroke: #FFFFFF;
    fill: #9C5000;
    opacity: 0.6; }
  #flows .alert {
    display: none;
    stroke: #FF0000;
    fill: #FF0000; }
  #flows path:hover {
    stroke-width: 3; }

/* Nodes */
#nodes .ipv4 {
  fill: #2B3856;
  stroke: #2B3856; }

#nodes .ipv6 {
  fill: #050;
  stroke: #050; }

#nodes .broadcast {
  fill: #229;
  stroke: #229; }

#nodes .untracked {
  fill: #011;
  stroke: #011; }

#nodes circle {
  stroke-width: 0; }

#nodes circle:hover {
  stroke-width: 1; }

#nodes .untracked:hover {
  stroke-width: 0; }

/* Labels */
#labels text {
  fill: black; }

#labels .network {
  fill: white; }

#labels .untracked {
  fill: #011; }

/* Annotations */
#annotations > g > path {
  stroke: #555555;
  stroke-width: 1.0;
  fill: #000000;
  fill-opacity: 0.8; }

#annotations > g > text {
  fill: white;
  pointer-events: none; }
