@font-face {
    font-family: 'LinLibertine';
    src: url('../fonts/linlibertine/LinLibertineC_Re-4.0_.1_.ttf') format('truetype');
}

@font-face { 
    font-family: 'Dots';
    src: url('../fonts/bpdots/BPdotsUnicase.ttf') format('truetype');
    src: url('../fonts/bpdots/BPdotsUnicase.svg#BPdotsUnicase') format('svg');
}

@font-face {
    font-family: 'Andale';
    src: url('../fonts/andale/AndaleMono.ttf') format('truetype');
    src: url('../fonts/andale/AndaleMono.svg#AndaleMono') format('svg');
}

@font-face {
    font-family: 'File';
    src: url('../fonts/file/File.otf');
}

@font-face {
    font-family: 'Carto';
    src: url('../fonts/CartoGothicStd-Book.otf');
}

.nodeVolume {
    fill-opacity:0.4;
    fill:#ffffff;
    stroke:#fff;
    stroke-width:1;
}

.nodeVolume:hover {
    stroke-width:2;
}

.defaultVolume {
    fill-opacity:0.1;
    fill:#770000;
    stroke-opacity:0.2;
    stroke:#770000;
    stroke-width:1;
}

.defaultVolume:hover {
    stroke-width:2;
}

.defaultnode {
    fill:#550000;
    stroke:#550000;
    fill-opacity:1.0;
    stroke-width:1;
}

.defaultnode:hover {
    stroke-width:2;
}

.connection {
    stroke-width:1;
}

.connection:hover {
    stroke-width:3;
}

.node4 {
    fill:#005500;
    stroke:#005500;
    fill-opacity:1.0;
}

.node6 {
    fill:#000055;
    stroke:#000055;
    fill-opacity:1.0;
}

.node4:hover, .node6:hover {
    stroke-width:2;
}

.detail {
    font-size:12px;
    font-family:sans-serif;
    stroke:none;
    fill:#fff;
    pointer-events:none
}